body, html {
  height: 100%;
  margin: 0; }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg-1 {
  background-image: url("../img/background1.jpg");
  min-height: 100%; }

.bgimg-2 {
  background-image: url("../img/background2.jpg");
  min-height: 500px; }

.bgimg-3 {
  background-image: url("../img/background3.jpg");
  min-height: 640px; }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll; } }
.top {
  top: 300px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 40px; }
  .top.affix-top {
    position: absolute; }

.affix {
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 20px;
  background-color: #316786; }

.mainTitle {
  font-size: 50px; }

.affix .mainTitle {
  font-size: 30px; }

.stripe {
  text-align: center;
  padding: 50px 80px;
  text-align: justify; }

.stripe1 {
  color: #777;
  background-color: white; }

.stripe2 {
  color: #ddd;
  background-color: #282E34; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

text {
  cursor: default; }

h1 {
  font-size: 14px;
  text-align: center; }

#chart {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding-top: 50px; }
  #chart .pie text, #chart .pie2 text {
    fill: white;
    pointer-events: none;
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle; }
  #chart .pie text.disabled, #chart .pie2 text.disabled {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s linear; }
  #chart .pie text.enabled, #chart .pie2 text.enabled {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s linear; }
  #chart .legend rect {
    stroke-width: 2;
    transition: fill 1s;
    cursor: pointer; }
  #chart .legend rect.disabled {
    fill: transparent !important; }
  #chart .legend text {
    font-size: 14px;
    text-anchor: start;
    alignment-baseline: hanging;
    fill: #FFFFFF; }
  #chart .tooltip {
    display: none;
    position: absolute;
    width: 120px;
    z-index: 10;
    padding: 10px;
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 14px;
    text-align: center; }

.mapContainer {
  position: relative;
  height: 490px;
  width: 1040px;
  margin: 0 auto; }
  .mapContainer .textBox {
    position: absolute;
    top: 10px;
    left: 30px;
    transition: opacity 0.5s;
    opacity: 0;
    font-size: 10pt; }
    .mapContainer .textBox.show {
      opacity: 1; }
    .mapContainer .textBox .title {
      float: left;
      font-weight: bold; }
    .mapContainer .textBox #address {
      float: left;
      width: 400px;
      height: 40px; }
    .mapContainer .textBox #neighbourhoodName {
      float: left;
      width: 200px; }
  .mapContainer #map {
    position: absolute;
    margin: 0 auto;
    height: 430px;
    width: 650px; }
@keyframes point-pulse {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 0.5; }
  70% {
    opacity: 0.4; }
  100% {
    transform: scale(5);
    opacity: 0; } }
    .mapContainer #map .polygons {
      fill: none; }
      .mapContainer #map .polygons path {
        pointer-events: all; }
    .mapContainer #map .neighbourhood {
      fill: #ccc;
      stroke: #000;
      stroke-width: 0.5px;
      stroke-linejoin: round;
      pointer-events: all; }
@keyframes neighbourhood-pulse {
  0% {
    opacity: 1; }
  50% {
    fill: red;
    stroke-width: 3px;
    opacity: 0.4; }
  100% {
    opacity: 1; } }
      .mapContainer #map .neighbourhood.hover {
        animation-name: neighbourhood-pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
    .mapContainer #map .map-circle {
      stroke: white;
      stroke-width: 0.5; }
      .mapContainer #map .map-circle.pulse {
        stroke-width: 0 !important; }
        .mapContainer #map .map-circle.pulse .first-circle, .mapContainer #map .map-circle.pulse .second-circle, .mapContainer #map .map-circle.pulse .third-circle {
          transform: scale(0.5);
          transform-origin: center center;
          animation: point-pulse 1s linear infinite; }
        .mapContainer #map .map-circle.pulse .second-circle {
          animation-delay: 0.33s; }
        .mapContainer #map .map-circle.pulse .third-circle {
          animation-delay: 0.33s; }
  .mapContainer #barChart {
    position: absolute;
    top: 285px;
    left: 365px;
    transition: opacity 0.5s;
    opacity: 0; }
    .mapContainer #barChart.show {
      opacity: 1; }
    .mapContainer #barChart .axis-x path {
      display: none; }
  .mapContainer #timeBarChart {
    position: absolute;
    top: 100px;
    left: 700px; }

#mapTooltip {
  float: left;
  opacity: 0;
  transition: opacity 0.5s;
  width: 800px;
  border-width: 4px;
  border-style: solid;
  padding: 10px;
  fill: #fff;
  border-color: #fff; }
  #mapTooltip.show {
    opacity: 1; }
  #mapTooltip div {
    margin: 10px; }
  #mapTooltip .title {
    font-weight: bold; }

#petNamesForce {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  user-select: none; }
  #petNamesForce h2 {
    color: #282E34;
    font-weight: bold; }
  #petNamesForce circle {
    cursor: pointer; }
  #petNamesForce .legal {
    color: #282E34;
    position: absolute;
    bottom: 17px;
    right: 10px; }
    #petNamesForce .legal a {
      color: #282E34; }
  #petNamesForce text {
    text-anchor: middle;
    fill: white;
    font-size: 12px;
    pointer-events: none; }
  #petNamesForce g.dogIcon {
    pointer-events: none;
    fill: #FFFFFF;
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke: #000000;
    stroke-width: 1.25973046px;
    stroke-linecap: butt;
    stroke-linejoin: miter; }
  #petNamesForce g.catIcon {
    pointer-events: none;
    fill-opacity: 0;
    stroke-opacity: 0;
    fill: #FFFFFF;
    fill-rule: evenodd;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter; }

.stripe2 .legal {
  color: #FFFFFF;
  float: right;
  margin-right: -70px;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.42857143; }
  .stripe2 .legal a {
    color: #FFFFFF; }

#petNamesMap {
  width: 1400px;
  margin: auto;
  margin-top: -40px; }
  #petNamesMap h2 {
    text-align: center;
    margin-bottom: 30px; }
  #petNamesMap text {
    fill: white;
    font-size: 10px; }
  #petNamesMap rect {
    opacity: 1;
    stroke: white; }
  #petNamesMap .catLegend, #petNamesMap .dogLegend {
    cursor: pointer; }
    #petNamesMap .catLegend rect, #petNamesMap .dogLegend rect {
      transition: opacity 0.5s; }
      #petNamesMap .catLegend rect:hover, #petNamesMap .dogLegend rect:hover {
        opacity: 0.65; }
  #petNamesMap .catLegend text, #petNamesMap .dogLegend text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 20px;
    pointer-events: none;
    cursor: pointer; }
  #petNamesMap g.catIcon path {
    transition: fill 0.5s;
    fill: #FFFFFF; }
    #petNamesMap g.catIcon path:hover {
      fill: #316786; }
  #petNamesMap g.dogIcon path {
    transition: fill 0.5s;
    fill: #FFFFFF; }
    #petNamesMap g.dogIcon path:hover {
      fill: #403186; }
  #petNamesMap g.map {
    cursor: pointer; }
    #petNamesMap g.map text {
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
